*.iml
.gradle
local.properties
.idea
.DS_Store
/build
/captures
.externalNativeBuild
/apk
*.phrof
/mavenLocal
/reports
*/reports
/gradle-build/
/feature/launcher/app/__api__.json
/feature/annotation/app/__api__.json
/feature/appmanager/app/__api__.json
/feature/image/app/__api__.json
/feature/okhttp/app/__api__.json
/feature/permission/app/__api__.json
/feature/wanandroid/app/__api__.json
/feature/webview/app/__api__.json


