<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.annotation.pkg">


    <application>

        <activity
            android:name=".AnnotationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Annotation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".annotation.eg.TestAnnotationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="TestAnnotationActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
    </application>
</manifest>
