<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.open9527.pkg" >
    <application>
        <activity
            android:name=".OkHttpActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
    </application>
</manifest>
