<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.open9527.pkg" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application>
        <activity
            android:name=".OkHttpActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="OkHttp"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
    </application>
</manifest>
